@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #bccb63;
    color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
}

.hero-img {
    width: 100%;
}
article {
    margin: 0 auto;
    max-width: 60rem;
}



.text {
    margin: 1rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}




h1 {
    font-size: 3rem;
    color: #e9272c;
    margin: 0 0 1rem 0;

}

h2 {
    font-size: 1.8em;
    margin: 1.5rem 0 1rem 0;
}

p {
    line-height: 1.8;
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

li {
    font-size: 1.6rem;
    margin: 1rem 0;
}


li::marker {
    color: #e9272c;
}

