@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    background-color: #bccb63;
    color: #1d1d1d;
    font-family: "Montserrat", sans-serif;
}

article {
    margin: 0 auto;
    max-width: 60rem;
}

.hero-img {
    width: 100%;
}

.text {
    margin: 1rem;
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
}




h1 {
    font-size: 3rem;
    color: #e9272c;
    margin: 0 0 1rem 0;

}